:root {
  --main-bg-color: #f2f2f2;
  --main-canva-bg-color: #ffffff;
  --main-red-color: #db4c3b;
  --main-blue-color: #6185ef;
  --white-text-color: #f3f3f3;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
}

// >>>>>>>>>> Text >>>>>>>>>>>>>>

p {
  font-family: 'Open Sans';
  color: var(--text-color);
  margin: 0;
  font-size: 1em;
}

h1 {
  font-family: 'Open Sans';
  color: var(--white-text-color);
  margin: 0 auto;
  font-weight: normal;
}

h2 {
  font-family: 'Open Sans';
  color: var(--white-text-color);
  margin: 0;
  font-weight: normal;
}

//   <<<<<<<<<<<<<<<<<<<

.page_banner {
  background-color: var(--main-red-color);
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem
}

.canva_line_div {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  align-items: center;
  justify-content: space-evenly;
}

.chart_container_with_label {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: fit-content;
  background-color: var(--main-canva-bg-color);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.288);
}

.chart_container {
  max-height: 30rem;
  width: 40rem;
}

.chart_container2 {
  height: 30rem;
  width: 50rem;
}

.x_axis_label {
  color: black;
    text-align: center;
    margin: 0.5rem;
}